.our-works {
    height: 700px;
    background: #111430;
    color: white;
}

@media screen and (max-width: 576px) {
    .our-works{
        height: 730px;
    }
}

.works-title {
    color: white;
    font-weight: 600;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.396px;
}

.works-title span {
    color: #7AB259;
}

.owl-dots {
    margin-top: 80px !important;
}

.owl-dots .active span{
    background-color: #FBD062 !important;
}