.feedback-card {
    width: 350px;
    height: 212px;
    border: 1px solid #BFBFBF;
    border-radius: 4px;
}

@media screen and (max-width: 576px) {
    .feedback-card {
        width: 320px;
        margin: auto;
    }
}

.feedback-card img {
    width: 64px;
}

.name-container {
    transform: translateY(10px);
}