.order-container {
    background: #F4F7FC;
}

.order-form {
    width: 570px;
}

.order-form input {
    height: 60px;
}

.order-form input[type='number'] {
    width: 270px;
}

.order-form input[type='file'] {
    width: 270px;
    transform: translateY(-9px)
}

.order-form button {
    height: 60px;
    width: 170px;
}

.order-form input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.order-form textarea::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

#upload-label {
    height: 60px;
    transform: translateY(-1px);
    padding-top: 17px;
}
